
.overlay {
    position: fixed;
    background-color: yellow;
    inset: 0;


    display: grid;
    place-items: center;
}

.block {
    width: 400px;
    aspect-ratio: 1;
    background-color: red;

}

.block:hover {
    background-color: blue;
}

@media (hover: hover) {
    .block:hover {
        background-color: #eeeeee;
    }
}